# System Files
.DS_Store
Thumbs.db

# IDEs & Editor Configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node / Packaging Caches (For Future Use)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# Antigravity IDE Workspace Cache
.antigravity-ide/
.gemini/
